:root {
    --theme-white: #ffffff; /* rgb(255, 255, 255); */
    --theme-black: #000000; /* rgb(0, 0, 0); */
    --theme-darkgreen: #006224; /* rgb(0, 98, 36); */
    --theme-mediumgreen: #49a942; /* rgb(73, 169, 66); */
    --theme-lightgreen: #c1d72f; /* rgb(193, 215, 47); */
    --theme-darkgrey: #455a64; /* rgb(69, 90, 100); */
    --theme-mediumgrey: #919194; /* rgb(145, 145, 148); */
    --theme-lightgrey: #cccccc; /* rgb(204, 204, 204); */
    --theme-brightgrey: #f5f5f5; /* rgb(245, 245, 245); */
    --theme-red: #e64a19; /* rgb(230, 74, 25); */
    --theme-yellow: #fbc02d; /* rgb(251, 192, 45); */
    --theme-blue: #1976d2; /* rgb(25, 118, 210); */
    --theme-purple: #660092; /* rgb(102, 0, 146) */
}

* html,body {
    font-family: Helvetica, sans-serif !important;
    font-weight: 500 !important;
}

html, body, .viewport {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.vbox {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.hbox {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.container {
    height: 100vh;
}

.header, .footer {
    background: lightcoral;
    color: white;
}

.main {
    -webkit-flex: 1;
    flex: 1;
}

.content {
    -webkit-flex: 100%;
    flex: 100%;
    background-color: var(--theme-white);
    color: var(--theme-black);
}

.aside, .nav {
    -webkit-flex: 250px;
    flex: 250px;
}

.nav {
    background-color: var(--theme-lightgreen);
    color: white;
}

.aside {
    background-color: var(--theme-lightgreen);
    color: white;
}

.footer {
    background-color: var(--theme-black);
    color: white;
}
